html {
	position: relative;
	width:100%;
	height:100%;
} 
body{
    font-family:Tahoma;
	margin:0;
	padding:0;
}
.main{
	width:99.5%;
	margin-left:0.5%;
	margin-bottom:0.5%;
	display: inline-block;
	min-height:90vh;
}
.footer{
  text-align:center;
  padding:1%;
  background-color:#454545;
  color:#FFFFFF;
  position:relative;
  width:98%;
  bottom:0;
}
.logo{
    margin-top:0.4%;
    float:left;
    width:8%;
}
.search{
    margin-top:0%;
    float:left;
    margin-bottom: 2px;
    width:82%;
    border-radius: 2px;
    box-sizing: border-box;
    border: 3px solid rgb(182, 182, 182);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-image: url('../images/searchicon.png');
    padding: 0.4% 2% 0.4% 2%;
    background-position: 0px 6px; 
    background-repeat: no-repeat;
    
    background-size: 32px;
    font-size:20px;
}
.search:focus{
    border: 3px solid rgb(110, 110, 110);
}
.greetings{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
	width:100%;
	height:100%;
	text-align:center;
	padding-top:6%;
	padding-bottom:6%;

}
.login,a{
    text-decoration: none;
    color:#FFFFFF;
}
.login{
    margin-top:0%;
    outline: none;
    margin-left:5%;
    float:left;
    text-align: center;
    padding: 5% 5% 6% 5%;
    width:80%;
    transition: 0.5s;
    border-radius: 2px;
    border: 3px solid rgb(182, 182, 182);
}
.logout{
    outline: none;
    margin-left:0.4%;
    float:left;
    text-align: center;
    padding: 0.4% 0.6% 0.6% 0.4%;
    width:4%;
    transition: 0.5s;
    border-radius: 2px;
    border: 3px solid rgb(182, 182, 182);
}
.login:hover{
    background-color:#6ca36f;
}
.nav{
	position:relative;
    padding:0.6%;
	width:98.8%;
    background-color:#49944d;
    display: inline-block;
}
.textbox{
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
    border: 3px solid rgb(182, 182, 182);
    transition: 0.5s;
}
.textbox:focus{
    border: 3px solid rgb(110, 110, 110);
}
.buttonSubmit{
	width:100%;
    box-sizing: border-box;
    border: 3px solid rgb(182, 182, 182);
	background-color:#49944d;
	color:#FFFFFF;
	transition: 0.5s;
	
}
.button{
	margin-top:0.2%;
	padding:0.4%;
	border-radius: 1px;
    box-sizing: border-box;
    border: 3px solid rgb(182, 182, 182);
	background-color:#49944d;
	color:#FFFFFF;
	transition: 0.5s;
}

.buttonSubmit:hover{
	cursor:pointer;
	background-color:#CDCDCD;
}
.button:hover{
	cursor:pointer;
	background-color:#CDCDCD;
}
.button:disabled{
	background-color:#ABABAB;
	cursor:initial;
}
.label{
    font-size:18px;
}
.dropdown {
    width:9%;
    
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    margin-left:5%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    color: black;
    width:100%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="search"] {
        width: 100%;
        padding-top:1%;
        padding-bottom:1%;
        padding-left:8%;
    }
    [class*="login"] {
        /*margin-left:0%;*/
    }
    [class*="logo"] {
        width: 50%;
    }
    [class*="dropdown"] {
        width: 50%;
    }
    [class*="dropdown-content"] {
        width: 100%;
    }
}
@media only screen and (orientation: landscape) and (max-height: 500px){
    [class*="search"] {
        width: 70%;
        padding-top:1%;
        padding-bottom:1%;
        padding-left:4%;
    }
    [class*="login"] {
        padding-top:8%;
        padding-bottom:8%;

        padding-left:4%;
        padding-right:4%;
    }
    [class*="logo"] {
        width: 14%;
    }
    [class*="dropdown"] {
        width: 15%;
    }
    [class*="dropdown-content"] {
        width: 100%;
    }
}
