#ViewPost{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.ogloszenie{
    box-sizing: border-box;
    text-align: center;
    display:block;
    width:10vw;
    height:24vh;
    margin-left: 1%;
    margin-top:1%;
    float:left;
    border:solid 1px;
	position:relative;
}
.ogloszenie:hover{
    cursor:pointer;
    background-color:rgb(240, 240, 240);
}
.imgcontainer{
    background-color: rgb(240, 240, 240);
    width:100%;
    height:50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.img{
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}
.title{
    text-align: center;
    font-size: 120%;
    color:#000000;
    font-weight: bold;
}
.race{
    text-align: center;
    font-size: 80%;
    color:#676767;
}
.POSTview{
    text-align: center;
}
/* For mobile phones: */

@media only screen and (max-width: 768px) {
    [class*="ogloszenie"] {
        margin-left:2%;
		width:46vw;
		height:30vh;
    }
}
@media only screen and (orientation: landscape) and (max-height: 500px){
    [class*="ogloszenie"] {
        margin-left:2%;
		width:22vw;
		height:60vh;
    }
}