#generateContract{
	
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [id*="generateContract"] {
		display:none;
	}

}
@media only screen and (orientation: landscape) and (max-height: 500px){
    [id*="generateContract"] {
		display:none;
	}
}