html{
	height:100%;
}
body{
    font-family:Tahoma;
}
.title{
    font-size:30px;
    font-weight: bold;
}
.race{
    font-size:20px;
    color:rgb(128, 128, 128);
}
.description{
    width:50%;
    COLOR:#000000;
    float:left;
}
.his{
	width:50%;
	margin-left:50%;
}
.foot{
	display:inline-block;
	width:100%;
}
.history{
    float:left;
    margin-left:1%;
    border:solid 1px black;
    padding:1%;
    width:22%;
	height:auto;
}
.image{
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}
.imgcontainer{
    width:100%;
    height:100%;
    background-color: rgb(220,220,220);
    align-items: center;
    justify-content: center;
    display: flex;
    border:1px solid black;
}
.head{
	margin:0.2%;
	display:block;
	height:40vh;
}
.right{
	width:40%;
	height:100%;
	margin-left:52%;
	float:clear;
}
.left{
	width:50%;
	float:left;
	height:100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="imgcontainer"] {
        width: 96%;
        height: 50vh;
    }
    [class*="description"] {
        width: 96%;
        float:clear;
    }
	[class*="right"] {
		margin-left:0%;
		width:80%;
	}
	[class*="head"] {
		height:auto;
	}
	[class*="left"] {
        width: 100%;
		float:clear;
    }
    [class*="his"] {
        width: 100%;
        margin-left:0;
    }
    [class*="history"] {
        width: 95%;
        margin-bottom:1%;
    }
}
@media only screen and (orientation: landscape) and (max-height: 500px){
    [class*="head"] {
		height:80vh;
	}
}